
.outer-login
{
    max-width: 500px;
    background-color: #ffe77aff;
}

.login-outer-wrapper
{
   width: 100%;
   height: 100vh;
   background-image: url('../../../assets/login-images/pexels-cottonbro-4068314.jpg');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}


